.SearchResults {
    width: 40%;
    border: 1px solid #EC1372;
    padding: 1 rem;
    background-color: #72EC13;
    max-height: 700px;
    overflow-y: scroll;
}

::-webkit-scrillbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom:2rem;
    }
}