

html {
  font-size: 22px;
}

h1 {
  padding: .65rem 0;
  background-color: #6AE11E;
  text-align: center;
  font-family: 'Poppins', san-serif;
  font-size: 2.5rem;
  color: #961EE1;
}

.App {
  height: 100%;
  min-height: 1000px;
  padding: 0 20% 11% 20%;
  font-family: "Teko", san-serif;
  font-weight: 500;
  color: #961EE1;
}

.App-playlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}